@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111827;
  --muted-foreground: #6b7280;

  /* Primary Colors */
  --primary: #5C40E1;
  --primary-hover: #6B4AEE;

  /* Border Color */
  --border: #e5e7eb;

  /* surface Colors */
  --surface: #ffffff;
  --surface-muted: #f8f9fc;
  --citation: #f5f3ff;

  /* State Colors */
  --success: #10b981;
  --error: #DC2626;
  --warning: #ef4444;
  --info: #2563EB;
}

/* Dark Mode */
.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --muted-foreground: #cbd5e1;

  /* Primary Colors */
  --primary: #998DF7;
  --primary-hover: #a99cff;

  /* Border Color */
  --border: #334155;

  /* surface Colors */
  --surface: #1e293b;
  --surface-muted: #273549;
  --citation: #2a2548;

  /* State Colors */
  --success: #10b981;
  --error: #DC2626;
  --warning: #ef4444;
  --info: #2563EB;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-border: var(--border);

  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);

  --color-citation: var(--citation);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --color-info: var(--info);

  --font-sans: var(--font-nunito);
  --font-serif: var(--font-merriweather);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply w-full max-w-7xl mx-auto px-6 lg:px-8;
}

.main {
  @apply flex flex-1 flex-col items-center justify-center;
}

.navbar {
    @apply flex items-center justify-between container p-4 border-b border-border;
}

.footer {
  @apply flex flex-col md:flex-row container py-4 items-center justify-between gap-6 border-t border-border;
}

h1 {
  @apply text-4xl font-bold text-foreground;
}

h2 {
  @apply text-2xl font-bold text-foreground;
}

h3 {
  @apply text-xl font-bold text-foreground;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply text-base font-bold text-foreground;
}

h6 {
  @apply text-sm font-bold text-foreground;
}

p {
  @apply text-base font-medium text-muted-foreground;
}